<html>
    {% extends 'base.html' %}
    {% load static %}
    <head>
        <title>
            Zoro
        </title>
        <link rel="icon" href="{% static 'images/logos/title_logo.png' %}"  type = "image/png">
        <link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}" />
    </head>
    {% block body_block %}
    <center>
        <br><br><br>
        <h1 class="all">Forgot Password</h1>
        <form method="POST">
            {% csrf_token %}
            {{form}}
            <input type="submit" class="small">
        </form>
    </center>
    {% endblock %}
</html>