<html>
    {% extends 'base.html' %}
    {% load static %}
    {% block title %}password_change_form{% endblock %}
    <head>
        <title>
            Zoro
        </title>
        <link rel="icon" href="{% static 'images/logos/title_logo.png' %}"  type = "image/png">
        <link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}" />
    </head>
    {% block body_block %}
    <center>
        <br><br><br>
        <h1 class="all">Change Password</h1>
        <form method="POST">
            {% csrf_token %}
            {{form.old_password}} <br>
            {{form.new_password1}} <br>
            {{form.new_password2}} <br>
            <input type="submit">
        </form>
        <br>
    </center>
    {% endblock %}
</html>