<html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, orientation=landscape">
    <title>DOOMSDAY</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>

<body class="bac1" style="background-image: url(../static/images/background/riddle.jpg); background-size: cover; background-repeat: no-repeat;" id="b">
    {% block body_block %}
    <section>
        <!-- <div class="row" style="text-align: right;"><div class="col-md-12"><input type="button" class="bton" id="bt3" value="Status"></div></div> -->
        <div class="row" style="height:80%;">
            <div class="col-7" >
                
            </div>

            
            <input type="hidden" id="val" value={{v}}>
            <input type="hidden" id="bt2">
            <div class="col-5" style="padding-top: 400px;">
                <form id="myform" method="post" style="margin-bottom: 0px ;padding: none;">
                    {% csrf_token %}
                    <input type="text" name="clue3" id="txt" placeholder="Enter the answer" id="cl"> <br>
                    <input type="submit" class="bton" id="bt" value="Submit">
                </form>
                </div> 
            </div>
        </div>
        
        <!-- <div class="popup">
            <button id="close">&times;</button>
            <h2>Leader Board</h2>
            <div style="text-align: center;"> 
                <table id="anime">
                    <tr>
                        <th>id</th>
                        <th>clue</th>
                        
                    </tr>
                    {% for i in line %}
                    <tr>
                        {% for j in i %}
                        <td>{{j}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div> -->
        
    </section>

    {% endblock %}

</body>

</html>